
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media
*.env

# Env files
.env
.env.*

# VS Code
.vscode/

# MacOS
.DS_Store

# Pytest
.cache/

# Migrations
*/migrations/__pycache__/
